

	{% extends 'base.html' %}
	{% load static %}

	{% block content %}

	<nav id="menu">
		<div class="container">
			<div class="trigger"></div>
			<ul>
				<li><a href="products.html">New collection</a></li>
				<li><a href="products.html">necklaces</a></li>
				<li><a href="products.html">earrings</a></li>
				<li><a href="products.html">Rings</a></li>
				<li><a href="products.html">Gift cards</a></li>
				<li><a href="products.html">Promotions</a></li>
				<li><a href="store.html">store</a></li>
			</ul>
		</div>
		<!-- / container -->
	</nav>
	<!-- / navigation -->

	<div id="slider">
		<ul>
			<li style="background-image: url({% static 'images/0.jpg' %})">
				<h3>Make your life better</h3>
				<h2>Genuine diamonds</h2>
				<a href="#" class="btn-more">Read more</a>
			</li>
			<li class="purple" style="background-image: url({% static 'images/01.jpg' %})">
				<h3>You deserve to be beauty</h3>
				<h2>golden bracelets</h2>
				<a href="#" class="btn-more">Read more</a>
			</li>
			<li class="yellow" style="background-image: url({%static 'images/02.jpg' %})">
				<h3>She will say “yes”</h3>
				<h2>engagement ring</h2>
				<a href="#" class="btn-more">Read more</a>
			</li>
		</ul>
	</div>
	<!-- / body -->

	<div id="body">
		<div class="container">
			<div class="last-products">
				<h2>In store products</h2>
				<section class="products">
					{% for product in products %}
					<article>
						<img src="{{ product.images.url }}" alt="">
						<h3>{{ product.product_name}} </h3>
						<h4>€{{ product.price}}</h4>
						<a href="store/" class="btn-add">Go to store</a>
					</article>
					{% endfor %}
				</section>
			</div>
			<section class="quick-links">
				<article style="background-image: url({%static 'images/2.jpg' %})">
					<a href="#" class="table">
						<div class="cell">
							<div class="text">
								<h4>Lorem ipsum</h4>
								<hr>
								<h3>Dolor sit amet</h3>
							</div>
						</div>
					</a>
				</article>
				<article class="red" style="background-image: url({%static 'images/3.jpg' %})">
					<a href="#" class="table">
						<div class="cell">
							<div class="text">
								<h4>consequatur</h4>
								<hr>
								<h3>voluptatem</h3>
								<hr>
								<p>Accusantium</p>
							</div>
						</div>
					</a>
				</article>
				<article style="background-image: url({%static 'images/4.jpg' %})">
					<a href="#" class="table">
						<div class="cell">
							<div class="text">
								<h4>culpa qui officia</h4>
								<hr>
								<h3>magnam aliquam</h3>
							</div>
						</div>
					</a>
				</article>
			</section>
		</div>
		<!-- / container -->
	</div>
	<!-- / body -->




	<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script>window.jQuery || document.write("<script src={% static 'js/jquery-1.11.1.min.js' %}>\x3C/script>")</script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>

{% endblock %}
