{% extends 'base.html' %}

{% load static %}
{% block content %}
	<!-- / body -->

	<div id="body">
		<div class="container">
			<div class="pagination">
				<ul>
					<li><a href="#"><span class="ico-prev"></span></a></li>
					<li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"><span class="ico-next"></span></a></li>
				</ul>
			</div>
			<div class="products-wrap">
				<aside id="sidebar">
					
					
				</aside>
				<div id="content">
					<section class="products">
                        {% for product in products %}
						<article>
                            <img src="{{ product.images.url }}" alt="">
                            <a href= "product/" {{ product.product_name}}</a>
                            <h4>€{{ product.price}}</h4>
                            <a href="store/" class="btn-add">Go to store</a>
                        </article>
                        {% endfor %}
					</section>
				</div>
				<!-- / content -->
			</div>
		</div>
		<!-- / container -->
	</div>
	<!-- / body -->
	
{% endblock %}
